<div class="box-dynamic-form">
    <form [formGroup]="form">
        <div *ngFor="let question of questions" class="item-input" [ngClass]="question?.size">
            <app-dynamic-form-builder [readOnly]="readOnly" [question]="question" [form]="form">
            </app-dynamic-form-builder>
        </div>

        <div class="section-buttons" *ngIf="!readOnly">
            <button mat-button color="accent" (click)="resetForm()">Limpar campos</button>
            <button mat-raised-button color="primary" (click)="onSubmit()"
                [disabled]="!form.valid || loading">Enviar</button>
        </div>
    </form>
</div>

<div class="preview-data" *ngIf="previewValueData">
    <strong>Saved the following values:</strong>
    <code>{{previewValueData}}</code>
</div>